doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title Internal_email-29
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style(type='text/css').
      * {
      -ms-text-size-adjust:100%;
      -webkit-text-size-adjust:none;
      -webkit-text-resize:100%;
      text-resize:100%;
      }
      a{
      outline:none;
      color:#40aceb;
      text-decoration:underline;
      }
      a:hover{text-decoration:none !important;}
      .nav a:hover{text-decoration:underline !important;}
      .title a:hover{text-decoration:underline !important;}
      .title-2 a:hover{text-decoration:underline !important;}
      .btn:hover{opacity:0.8;}
      .btn a:hover{text-decoration:none !important;}
      .btn{
      -webkit-transition:all 0.3s ease;
      -moz-transition:all 0.3s ease;
      -ms-transition:all 0.3s ease;
      transition:all 0.3s ease;
      }
      table td {border-collapse: collapse !important;}
      .ExternalClass, .ExternalClass a, .ExternalClass span, .ExternalClass b, .ExternalClass br, .ExternalClass p, .ExternalClass div{line-height:inherit;}
      @media only screen and (max-width:500px) {
      table[class="flexible"]{width:100% !important;}
      table[class="center"]{
      float:none !important;
      margin:0 auto !important;
      }
      *[class="hide"]{
      display:none !important;
      width:0 !important;
      height:0 !important;
      padding:0 !important;
      font-size:0 !important;
      line-height:0 !important;
      }
      td[class="img-flex"] img{
      width:100% !important;
      height:auto !important;
      }
      td[class="aligncenter"]{text-align:center !important;}
      th[class="flex"]{
      display:block !important;
      width:100% !important;
      }
      td[class="wrapper"]{padding:0 !important;}
      td[class="holder"]{padding:30px 15px 20px !important;}
      td[class="nav"]{
      padding:20px 0 0 !important;
      text-align:center !important;
      }
      td[class="h-auto"]{height:auto !important;}
      td[class="description"]{padding:30px 20px !important;}
      td[class="i-120"] img{
      width:120px !important;
      height:auto !important;
      }
      td[class="footer"]{padding:5px 20px 20px !important;}
      td[class="footer"] td[class="aligncenter"]{
      line-height:25px !important;
      padding:20px 0 0 !important;
      }
      tr[class="table-holder"]{
      display:table !important;
      width:100% !important;
      }
      th[class="thead"]{display:table-header-group !important; width:100% !important;}
      th[class="tfoot"]{display:table-footer-group !important; width:100% !important;}
      }
  body(style='margin:0; padding:0;', bgcolor='#ffffff')
    // fix for gmail
    table(width='600', cellpadding='0', cellspacing='0', style='width:600px !important;')
      tbody
        tr
          td(style='min-width:600px; font-size:0; line-height:0;')  
    // module 2
    table(data-module='module-2', data-thumb='thumbnails/02.png', width='100%', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(data-bgcolor='bg-module', bgcolor='#ffffff')
            table.flexible(width='600', align='center', style='margin:0 auto; margin-top: 50px;', cellpadding='0', cellspacing='0')
              tbody

                tr
                  td.holder(data-bgcolor='bg-block', style='padding:58px 60px 52px;', bgcolor='#f9f9f9')
                    table(width='100%', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td.title(data-color='title', data-size='size title', data-min='25', data-max='45', data-link-color='link title color', data-link-style='text-decoration:none; color:#292c34;', align='center', style='font:35px/38px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;')
                            |  Demande d'inscription
                        tr
                          td(data-color='text', data-size='size text', data-min='10', data-max='26', data-link-color='link text color', data-link-style='font-weight:bold; text-decoration:underline; color:#40aceb;', style='font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;')
                            | Prénom : #{user.firstname}
                        tr
                          td(data-color='text', data-size='size text', data-min='10', data-max='26', data-link-color='link text color', data-link-style='font-weight:bold; text-decoration:underline; color:#40aceb;', style='font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;')
                            | Nom : #{user.lastname}
                        tr
                          td(data-color='text', data-size='size text', data-min='10', data-max='26', data-link-color='link text color', data-link-style='font-weight:bold; text-decoration:underline; color:#40aceb;',  style='font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;')
                            | Email : #{user.email}
                        tr
                          td(data-color='text', data-size='size text', data-min='10', data-max='26', data-link-color='link text color', data-link-style='font-weight:bold; text-decoration:underline; color:#40aceb;',  style='font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;')
                            | Sociéte : #{user.societe}
                        tr
                          td(data-color='text', data-size='size text', data-min='10', data-max='26', data-link-color='link text color', data-link-style='font-weight:bold; text-decoration:underline; color:#40aceb;',  style='font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;')
                            | Fonction : #{user.fonction}
                        tr
                          td(data-color='text', data-size='size text', data-min='10', data-max='26', data-link-color='link text color', data-link-style='font-weight:bold; text-decoration:underline; color:#40aceb;',  style='font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;')
                            | Catégorie : #{user.categorie}  
                        tr
                          td(data-color='text', data-size='size text', data-min='10', data-max='26', data-link-color='link text color', data-link-style='font-weight:bold; text-decoration:underline; color:#40aceb;',  style='font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;')
                            |  Role : #{user.role} 
                            
                        tr
                          td(style='padding:0 0 20px;')
                            table(width='134', align='center', style='margin:0 auto;', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td.btn(data-bgcolor='bg-button', data-size='size button', data-min='10', data-max='16', align='center', style='font:12px/14px Arial, Helvetica, sans-serif; color:#f8f9fb; text-transform:uppercase; mso-padding-alt:12px 10px 10px; border-radius:2px;', bgcolor='#7bb84f')
                                    a(target='_blank', style='text-decoration:none; color:#f8f9fb; display:block; padding:12px 10px 10px;', href='#{link}') Accépter
                tr
                  td(height='28')
    table.flexible(width='600', align='center', style='margin:0 auto;', cellpadding='0', cellspacing='0')
      tbody
        tr
          td.footer(style='padding:0 0 10px;')
            table(width='100%', cellpadding='0', cellspacing='0')
              tbody
                tr.table-holder
                  th.tfoot(width='400', align='left', style='vertical-align:top; padding:0;')
                    table(width='100%', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td.aligncenter(data-color='text', data-link-color='link text color', data-link-style='text-decoration:underline; color:#797c82;', style='font:12px/16px Arial, Helvetica, sans-serif; color:#797c82; padding:0 0 10px;')
                            | Jinvestis, 2019.   All Rights Reserved. 
                           
                  th.thead(width='200', align='left', style='vertical-align:top; padding:0;')
                    table.center(align='right', cellpadding='0', cellspacing='0')
                      tbody
                        //- tr
                        //-   td.btn(valign='top', style='line-height:0; padding:3px 0 0;')
                        //-     a(target='_blank', style='text-decoration:none;', href='#')
                        //-       img(src='http://localhost:3000/images/ico-facebook.png', border='0', style='font:12px/15px Arial, Helvetica, sans-serif; color:#797c82;', align='left', vspace='0', hspace='0', width='6', height='13', alt='fb')
                        //-   td(width='20')
                        //-   td.btn(valign='top', style='line-height:0; padding:3px 0 0;')
                        //-     a(target='_blank', style='text-decoration:none;', href='#')
                        //-       img(src='http://localhost:3000/images/ico-twitter.png', border='0', style='font:12px/15px Arial, Helvetica, sans-serif; color:#797c82;', align='left', vspace='0', hspace='0', width='13', height='11', alt='tw')
                        //-   td(width='19')
                        //-   td.btn(valign='top', style='line-height:0; padding:3px 0 0;')
                        //-     a(target='_blank', style='text-decoration:none;', href='#')
                        //-       img(src='http://localhost:3000/images/ico-google-plus.png', border='0', style='font:12px/15px Arial, Helvetica, sans-serif; color:#797c82;', align='left', vspace='0', hspace='0', width='19', height='15', alt='g+')
                        //-   td(width='20')
                        //-   td.btn(valign='top', style='line-height:0; padding:3px 0 0;')
                        //-     a(target='_blank', style='text-decoration:none;', href='#')
                        //-       img(src='http://localhost:3000/images/ico-linkedin.png', border='0', style='font:12px/15px Arial, Helvetica, sans-serif; color:#797c82;', align='left', vspace='0', hspace='0', width='13', height='11', alt='in')
    // fix for gmail
    div(style='display:none; white-space:nowrap; font:15px/1px courier;')                                                                  
